* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Vazirmatn;

}

@font-face {
    font-family: 'Vazirmatn';
    src: url('../font/webfonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
        url('../font/webfonts/Vazirmatn[wght].woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

