// HEADER
header {
    .top-header {
        margin: 0 auto;
        padding: 10px 50px;
        background-color: $primary;
        @include centering;
        justify-content: space-between;
        color: $white;

        @media (max-width: 1200px) {

            padding: 10px 20px;

        }

        .search {
            display: flex;
            justify-content: flex-end;
            .search-box {
                width: fit-content;
                font-weight: 200;
                font-size: 14px;
                border: 1px solid #fff;
                padding: 5px;

                input[type="search"] {
                    border: none;

                    &:focus {
                        box-shadow: none;
                        border-color: #ccc;
                    }

                    &::placeholder {
                        color: $white;
                    }

                    &::-webkit-search-cancel-button {
                        display: none;
                        width: 0;
                        height: 0;
                    }
                }

                #search-addon {
                    font-weight: 300;
                }
            }

        }

        .logo {
            a {
                img {
                    width: 200px;

                    @media only screen and (max-width: $mdBreakpoint) {
                        width: 150px;
                    }
                }
            }
        }

        .login-register {
            a {
                &::after {
                    content: "|";
                    padding: 0 10px;
                    font-weight: 100;
                    color: #ccc;
                }

                &:nth-child(3)::after {
                    content: '';
                }
            }

        }
    }

    .bottom-hedaer {
        background-color: #fafafa;
        border-bottom: 3px solid #dcdcdc5c;
    }
}

// SLIDE SHOW
#slideshow {
    .carousel-inner {
        .carousel-item {
            a {
                width: 100%;

                .slide-img {
                    height: calc(100vh - 121px);
                    width: 100%;
                    // height: 579px;
                    display: block;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    // @media only screen and (max-width: $mdBreakpoint) {
                    //     background-size: contain;
                    //     height: 100%;
                    // }
                }

                .carousel-caption {
                    right: 15%;
                    width: 100%;
                    left: initial;
                    text-align: right;
                    top: 30%;

                    @media only screen and (max-width: $lgBreakpoint) {
                        right: 5%;
                        left: 5%;
                        top: 10%;
                        bottom: 10%;
                    }

                    .lineUp {
                        animation: 2.5s anim-lineUp ease-out;
                    }

                    @keyframes anim-lineUp {
                        0% {
                            opacity: 0;
                            transform: translateY(80%);
                        }

                        20% {
                            opacity: 0;
                        }

                        50% {
                            opacity: 1;
                            transform: translateY(0%);
                        }

                        100% {
                            opacity: 1;
                            transform: translateY(0%);
                        }
                    }

                    h2 {
                        color: $dark-gray;
                    }

                    .lineUp2 {
                        animation: 2s anim-lineUp2 ease-out;
                    }

                    @keyframes anim-lineUp2 {
                        0% {
                            opacity: 0;

                        }

                        20% {
                            opacity: 0;

                        }

                        50% {
                            opacity: 0;
                            transform: translateY(80%);
                        }

                        100% {
                            opacity: 1;
                            transform: translateY(0%);
                        }
                    }

                    p {
                        padding-top: 20px;
                        color: $light-gray;
                        padding-bottom: 10px;
                    }

                    .lineUp3 {
                        animation: 3s anim-lineUp3 ease-out;
                    }

                    @keyframes anim-lineUp3 {
                        0% {
                            opacity: 0;

                        }

                        20% {
                            opacity: 0;

                        }

                        50% {
                            opacity: 0;

                        }

                        60% {
                            opacity: 0;
                            transform: translateY(80%);
                        }

                        100% {
                            opacity: 1;
                            transform: translateY(0%);
                        }
                    }

                    .btn-outline-custom {
                        border: 1px solid $primary;
                        color: $primary;
                    }
                }
            }
        }
    }

}

// NEW ARRIVAL


// DILY DEALS
.daily-deal {
    background-image: url(../img/daily-deal-bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: $white !important;

    @media only screen and (max-width: $smBreakpoint) {
        background-image: none;
        background-color: #c8b9b5;
    }

    .detail-content {
        color: $white !important;

        .title-card {

            h4,
            ul li i {
                color: $white !important;
            }
        }

        .pro-details {
            .price {
                color: $white !important;
            }
        }
    }


}

.carousel-control-prev,
.carousel-control-next {
    span {
        background-color: #1b111180;
    }
}

//CATEGORY
.category {
    .card-header {
        display: flex;
        justify-content: center;
        border: 0;
        background-color: transparent;
        margin-bottom: 30px;

        @media only screen and (max-width: $smBreakpoint) {
            padding: 0;
            margin-bottom: 15px;
        }

        .card-header-tabs {
            li {
                .tab-btn {
                    border: 2px solid $light-gray;
                    color: $light-gray;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 14px;
                    margin: 0 10px;
                    padding: 19px 25px;
                    position: relative;
                    -webkit-transition: all 300ms ease-in 0s;
                    transition: all 300ms ease-in 0s;
                    border-radius: 0;

                    &:hover {
                        border: 2px solid $dark-gray;
                        color: $dark-gray;
                    }

                    &:focus,
                    &:active {
                        border: 2px solid $primary;
                        color: $primary;
                    }

                    @media only screen and (max-width: $smBreakpoint) {
                        font-size: 12px;
                        padding: 10px 5px;
                        margin: 0 3px;
                    }

                }
            }
        }
    }

    .slick-slider {
        .slick-arrow {
            height: 30px;
            width: 30px;
            background-color: #ccc;
            color: #fff;

        }

        .item {
            position: relative;

            .detail-content {
                @include item-in-center;

                p {
                    color: #fff;
                    font-size: 18px;
                    font-weight: 500;
                    margin: 0;
                }
            }
        }

    }

    .item {
        position: relative;

        .detail-content {
            @include item-in-center;

            p {
                color: #fff;
                font-size: 18px;
                font-weight: 500;
                margin: 0;
            }
        }
    }

    .single-banner {
        .cat {
            position: relative;
            overflow: hidden;

            .cat-img {
                a {
                    width: 100%;
                    transition: all 500ms ease-in 0s;

                    img {
                        transition: all 300ms ease-in 0s;
                        width: 100%;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        background: $dark-gray;
                        opacity: 0;
                        transition: .5s;
                    }

                    &:hover::after {
                        opacity: .85;
                    }

                    &:hover img {
                        transform: scale(1.2);
                    }
                }
            }


            .cat-content {
                position: absolute;
                width: 100%;
                text-align: center;
                bottom: 35px;
                top: auto;
                transform: translateY(-50%);

                a {
                    width: auto;
                    background: $dark-gray;
                    color: $white;
                    font-size: 16px;
                    font-weight: 500;
                    padding: 15px 33px;
                    transition: all 300ms ease-in 0s;

                }
            }

            &:hover .cat-content a {
                background-color: $primary;
            }
        }
    }
}

//TOP BRANDS
.top-brands {
    margin-top: 20px;
    margin-bottom: 80px;

    .brand-item {
        @include centering;

        a {
            position: relative;
            padding: 0;
            height: 100px;
            width: 100px;

            @media only screen and (max-width: $smBreakpoint) {
                width: 70px;
                height: 70px;
            }

            img {
                border-radius: 50%;
                height: 100%;
                object-fit: cover;
                width: 100%;

            }

            .mask {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                text-align: center;
                transition: all .4s;
            }

            &:hover .mask {
                background-color: rgba(236, 85, 152, .5);
            }
        }
    }
}

//Cosmetics Page
.cosmetics {
    .main {
        .filter {
            height: 100px;
        }
    }

    .sidebar {
        .cart {
            .show-price {
                background-color: #f9e4ef;
                color: $primary;
                padding: 10px;

            }

            .empty-price {
                background-color: #ccc;
                color: #444;
                padding: 10px;
            }

            .cart-item {
                .product-item {
                    .product-details {
                        img {
                            width: 100px;
                            height: 100px;
                            object-fit: cover;
                        }

                        h2 {
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }

                    .product-price {
                        .price {
                            font-size: 14px;
                            font-weight: 400;
                            color: $dark-gray;
                        }

                        .purchases-number {
                            width: 35px;
                            height: 35px;
                            background-color: $primary;
                            border-radius: 50%;
                            color: #fff;
                            font-size: 11px;
                            font-weight: 400;
                            margin-right: 5px;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            padding: 3px;
                            line-height: 0.8;
                        }
                    }
                }
            }

            .total-price {
                .total-text {
                    font-size: 16px;
                }
            }
        }
    }

}

// FOOTER
footer {
    background-image: url(../img/footer-bg.jpg);
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    background-position: center center;
    padding-bottom: 0;
    position: relative;

    .backToTop {
        position: absolute;
        left: 50%;
        top: -25px;
        width: 50px;
        height: 50px;
        text-align: center;
        background-color: $primary;
        border-radius: 100%;
        display: block;
        -ms-filter: "alpha(opacity=$value)";
        filter: alpha(opacity=0);
        opacity: 0;
        transition: all .3s ease-in-out;
        transform: translate(-50%, 0);

    }

    .footer-info {
        padding: 96px 0 60px;
        border-top: 4px solid $primary;

        .footer-text {
            margin-bottom: 40px;
            display: block;

            .footer-logo {
                img {
                    width: 270px;
                }
            }

            p {
                padding-top: 30px;
                font-size: 15px;
                font-weight: 300;
                color: $dark-gray;
                line-height: 1.7;
            }

        }

        .padding-left {
            padding-left: 40px;
        }

        .footerInfoTitle {
            h4 {
                font-size: 22px;
                line-height: 27px;
                margin-bottom: 35px;
                font-weight: 500;

                @media only screen and (max-width: $smBreakpoint) {
                    &.mt-sm-5 {
                        margin-top: 35px;
                        margin-bottom: 10px;
                    }
                }
            }

        }

        .useLink {
            .list-unstyled {
                padding-left: 0;
                list-style: none;

                li {
                    margin: 0 0 15px;

                    a {
                        color: $dark-gray;
                        font-size: 15px;

                        i {
                            margin-left: 10px;
                            font-size: 12px;
                            color: $dark-gray;

                            &::before {
                                content: "\f104";
                            }
                        }
                    }
                }
            }

        }

        .footerGallery {
            a {
                width: 100%;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

        }

        .footerText {
            p {
                font-size: 15px;
                color: $dark-gray;
            }

            .input-group {
                width: 100%;

                input {
                    border-radius: 0;
                    color: $light-gray;
                }

                .input-group-addon {
                    width: 35%;
                    background-color: $primary;
                    color: #fff;
                    font-weight: 300;
                    border: 1px solid $primary;
                }
            }
        }
    }

    .copyRight {
        ul {
            @media only screen and (max-width: $smBreakpoint) {
                justify-content: center !important;
            }

            li {
                a {
                    padding-left: 20px;
                    color: $light-gray;
                    transition: .5s;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }

        .copyRightText {
            color: $light-gray;
        }
    }
}