.btn-orif {
    background-color: #e43192;
    color: #fff;
    font-weight: 300;
    border: 1px solid #e43192;
    padding: 10px 20px;
}
.btn-orif:hover {
    background-color: #fff;
    color: #e43192;
    border: 1px solid #e43192;
}