@tailwind base;
@tailwind components;
@tailwind utilities;

nav ul li a:active {
  color: #e84ea0 !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #e84ea0 !important;
}

@media (max-width: 767px) {

  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}